<strong>Olá {{ organizer }}!</strong>
<p>Obaaaaa! Seu Meetup tem uma nova inscrição! {{ meetup }},
  os dados do inscrito estão abaixo:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
